$code-background-color: #FFEBEB;

:root {
  .theme-dark {
    --code-color: #F04848;
  }
}

.cm-s-obsidian {
  span.cm-inline-code {
    color: var(--code-color);
    background-color: $code-background-color !important;
    border-radius: 0.2em;
    padding: 0.1em 0.3em;
  }
}
