
:root {
  --text-folder-file-icon: rgb(45, 130, 204);
  --text-accent-custom: rgb(10, 133, 255);
  --white: #fff;
}

.nav-folder-title-content::before {
  visibility: hidden;
  width: 0 !important;
}

body:not(.remove-file-icons) .nav-folder-children .nav-file-title-content:first-child::before {
  position: relative;
  content: " ";
  display: inline-block;
  width: 0.9rem;
  opacity: 0.9;
  top: 2px;
  height: 0.9rem;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--text-folder-file-icon);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
}

body:not(.remove-file-icons):not(.folder-style-change-options-colorful) .nav-file-title.is-active[data-path$=".md"]>.nav-file-title-content::before {
  background-color: var(--white);
}

body.light-background-color-files:not(.remove-file-icons) .nav-file-title.is-active[data-path$=".md"]>.nav-file-title-content::before {
  background-color: var(--text-folder-file-icon);
  filter: hue-rotate(180deg);
}

body:not(.remove-file-icons) .nav-file-title.is-active .obsidian-icon-folder-icon+.nav-file-title-content::before {
  display: none;
}