@import 'base/headings', 'base/resource-tree';
@import "base/link";

.cm-strong,
.markdown-preview-section strong {
  color: #f8d753 !important;
}

:root {
  --text-folder-file-icon: rgb(45, 130, 204);
  --text-accent-custom: rgb(10, 133, 255);
  --internal-color: rgb(183, 120, 196);
  --white: #fff;
}
